<footer class="w18-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-xl-4">
                <h2 class="w18-footer-title">TU Wien Informatics</h2>
                <address class="w18-footer-address">
                    Treitlstrasse 3<br/>
                    1040 Vienna, Austria
                </address>
                <ul class="nav w18-footer-nav">
                    {% for service_item in site.data.services %}
                    {% if service_item.url contains 'http' %}{% assign domain = '' %}{% else %}{% capture domain %}{{ site.url }}{{ site.baseurl }}{% endcapture %}{% endif %}
                      <li class="nav-item">
                        <a class="nav-link" href="{{ domain }}{{ service_item.url }}" {% if service_item.url contains 'http' %}target="_blank" {% endif %} title="{{ service_item.title }}">{{ service_item.name }}</a>
                      </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</footer>
