{% comment %}
*
*  To customize the navigation of *Feeling Responsive*,
*  edit `_data/navigation.yml`.
*
{% endcomment %}
<header class="w18-header">

    <div class="container">
        <div class="w18-header-wrap">
            <h1 class="w18-logo">
                <img alt="TU Wien Informatics" src="/assets/w18/1.8.5/images/logo.svg">
                <a class="w18-logo-link-1" href="https://www.tuwien.at" title="TU Wien"></a>
                <a class="w18-logo-link-2" href="/" title="TU Wien Informatics"></a>
            </h1>

        </div>
    </div>

    {% include _navigation_w18.html %}
</header>
