{% comment %}
*
*  To customize the navigation of *Feeling Responsive*,
*  edit `_data/navigation.yml`.
*
{% endcomment %}
<header class="w18-header">

    <div class="container">
        <div class="w18-header-wrap">
            <h1 class="w18-logo">
                <a href="/" title="TU Wien - TrustCPS">
                    <img alt="TU Wien - TrustCPS" src="/assets/w18/1.8.5/images/logo.svg">
                </a>
<!--                <a class="w18-logo-link-1" href="/" title="TU Wien - TrustCPS"></a>-->
<!--                <a class="w18-logo-link-2" href="/" title="TU Wien - TrustCPS"></a>-->
            </h1>

        </div>
    </div>

    {% include _navigation_w18.html %}
</header>
