{% comment %}
*
*  To customize the navigation of *Feeling Responsive*,
*  edit `_data/navigation.yml`.
*
{% endcomment %}

<nav class="w18-nav" role="navigation">
    <div class="w18-nav-wrap">
        <ul class="nav w18-nav-tabs">
            <li class="nav-item"><a class="nav-link" id="menu-tab" href="#menu" aria-controls="menu">Menu</a></li>
<!--            <li class="nav-item"><a class="nav-link" id="search-tab" href="#search" aria-controls="search" rel="search">Search</a></li>-->
        </ul>
        <button class="close close-white" type="button" aria-label="Close" aria-hidden="true"></button>

        <div class="w18-nav-tab-content">

            <div class="w18-nav-tab-content">
                <div class="w18-nav-tab-pane" id="menu" aria-labelledby="menu-tab">
                    <h2 class="d-none">Menu</h2>
                    <ul class="row">

                        <li class="col-sm-6 col-md-12 col-xl-6 w18-nav-tab-pane-group">
                            <h2 class="w18-nav-tab-pane-title">
                                Research
                            </h2>

                            <ul class="nav flex-column">

                                <li class="nav-item w18-nav-tab-pane-item">
                                    <a class="nav-link" href="/research/">
                                        Projects
                                    </a>
                                </li>
                                <li class="nav-item w18-nav-tab-pane-item">
                                    <a class="nav-link" href="/publications/">
                                        Publications
                                    </a>
                                </li>

                                <li class="nav-item w18-nav-tab-pane-item">
                                    <a class="nav-link" href="/openings">
                                        Theses & Jobs
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="col-sm-6 col-md-12 col-xl-6 w18-nav-tab-pane-group">
                            <h2 class="w18-nav-tab-pane-title">
                                Team
                            </h2>

                            <ul class="nav flex-column">

                                <li class="nav-item w18-nav-tab-pane-item">
                                    <a class="nav-link" href="/people">
                                        People
                                    </a>
                                </li>
                                <li class="nav-item w18-nav-tab-pane-item">
                                    <a class="nav-link" href="/alumni">
                                        Alumni
                                    </a>
                                </li>
                                <li class="nav-item w18-nav-tab-pane-item">
                                    <a class="nav-link" href="/info/">
                                        Contacts
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="col-sm-6 col-md-12 col-xl-6 w18-nav-tab-pane-group">
                            <h2 class="w18-nav-tab-pane-title">
                                News
                            </h2>

                            <ul class="nav flex-column">
                                <li class="nav-item w18-nav-tab-pane-item">
                                    <a class="nav-link" href="/blog/archive/">
                                        Articles
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="col-sm-6 col-md-12 col-xl-6 w18-nav-tab-pane-group">
                            <h2 class="w18-nav-tab-pane-title">
                                TU Wien
                            </h2>

                            <ul class="nav flex-column">

                                <li class="nav-item w18-nav-tab-pane-item">
                                    <a class="nav-link" href="https://tuwien.ac.at" target="_blank">
                                        Main site
                                    </a>
                                </li>
                                <li class="nav-item w18-nav-tab-pane-item">
                                    <a class="nav-link external" href="https://informatics.tuwien.ac.at" target="_blank">
                                        Institute of Informatics
                                    </a>
                                </li>

                            </ul>
                        </li>

                    </ul>

                </div>
            </div>

            <div class="w18-nav-tab-pane" id="search" aria-labelledby="search-tab">
                <h2 class="d-none">Search</h2>

                <div class="row">
                    <div class="col w18-nav-tab-pane-group">

                        <h2 class="w18-nav-tab-pane-title mb-3">
                            Looking for something?
                        </h2>



                        <form role="search" class="input-group w18-search-group" action="/search" accept-charset="UTF-8" method="get">
                            <input type="text" name="q" id="w18-search-q-nav" required="required" maxlength="50" placeholder="Enter query terms…" class="form-control w18-search-group-search">
                            <div class="input-group-append">
                                <button type="submit" class="btn w18-search-group-btn">Search</button>
                            </div>
                        </form>


                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>

