<article class="card">
    <a class="w18-card-link" href="{{ post.url }}">
        <figure class="figure">
        <noscript>
            <picture class="figure-img card-img">
                <!--<source srcset="/news/2228/pictures/1433/card-1x.webp 1x, /news/2228/pictures/1433/card-2x.webp 2x" type="image/webp">
                <source srcset="/news/2228/pictures/1433/card-1x 1x, /news/2228/pictures/1433/card-2x 2x">-->
                {% if post.image %}
                <img
                    class="figure-img card-img"
                    width="370"
                    height="260"
                    decoding="async"
                    loading="lazy"
                    src="{{ post-image }}"
                    alt="{{ post.title }}">
                {% else %}
                <img
                    class="figure-img card-img"
                    width="370"
                    height="260"
                    decoding="async"
                    loading="lazy"
                    src="assets/img/generic_news.png"
                    alt="{{ post.title }}">
                {% endif %}
            </picture>
        </noscript>
        <picture class="figure-img card-img lazyload">
            <!--<source data-srcset="/news/2228/pictures/1433/card-1x.webp 1x, /news/2228/pictures/1433/card-2x.webp 2x" type="image/webp">
            <source data-srcset="/news/2228/pictures/1433/card-1x 1x, /news/2228/pictures/1433/card-2x 2x">-->
            {% if post.image %}
            <img
                class="figure-img card-img lazyload"
                width="370"
                height="260"
                decoding="async"
                src="{{ post.image }}"
                data-src="{{ post.image }}"
                alt="{{ post.title }}”">
            {% else %}
            <img
                class="figure-img card-img lazyload"
                width="370"
                height="260"
                decoding="async"
                src="assets/img/generic_news.png"
                data-src="assets/img/generic_news.png"
                alt="{{ post.title }}">
            {% endif %}
        </picture>
        <div class="w18-event-date">
            <time class="w18-event-date-day" >
                <small>{{ post.date | date: "%B %-d" }}</small>
            </time>
            <time class="w18-event-date-year" >
                {{ post.date | date: "%Y" }}
            </time>
        </div>
        </figure>
        <div class="card-body">
            <h2 class="card-title anchorjs-skip">
            <span class="w18-hover-line">{{ post.title }}</span>
            </h2>
            <ul class="w18-tags text-truncate">
                    <li class="w18-tags-item"><span class="w18-hover-line">{{ post.date | date: "%B %-d %Y" }}</span></li>
                    <li class="w18-tags-item"><span class="w18-hover-line">{{ post.tags }}</span></li>
            </ul>
            <p class="card-text">
                <span class="w18-hover-line">{{ post.teaser }}</span>
            </p>
            <i class="icon card-arrow"></i>
        </div>
    </a>
</article>