{% comment %}
*  People block to include in pages
*  Should become dynamic at some point
{% endcomment %}

<section class="w18-content">
    <div class="container">
        <div class="content">
            <div class="container col col-lg-12 col-xl-12">
                <div class="accordion">

                    <!-- scientific staff -->
                    <div class="w18-accordion-heading" id="people-scientific" data-toggle="collapse" data-target="#people-scientific-body" aria-expanded="true" aria-controls="#people-scientific-body" role="button">
                        <a name="people"><h1>Scientific Staff</h1></a>
                        <div class="collapse show" id="people-scientific-body" aria-labelledby="people-scientific">
                            <div class="row pb-4">
                                {% assign sorted = site.pages | sort: 'family' %}
                                {% for post in sorted %}
                                {% if post.categories contains 'people' %}
                                <div class="col-sm-12 col-lg-6">
                                    <div class="media mb-4 w18-media-iconperson" title="{{ post.family }} • {{post.role}}">
                                        <img alt="{{post.first}} {{post.family}}" style="object-fit: cover; height: 90px;" src="{{ site.url }}{{ site.baseurl }}/images/{{ post.image.thumb }}">
                                        <div class="media-body ml-3 text-truncate">
                                            <h5 class="card-title text-truncate">
                                                <a class="stretched-link" href="{{site.url}}{{ site.baseurl }}/pages/people/{{ post.first | replace: " ", "" | downcase }}_{{ post.family | replace: " ", "" | downcase }}/">
                                                <span class="d-xs-inline d-sm-none d-md-inline">{{ post.first }} {{ post.family }}</span>
                                                <span class="d-none d-sm-inline d-md-none">{{ post.first }} {{ post.family }}</span>
                                                </a> </h5>
                                            <p class="card-subtitle mb-0 text-truncate">
                                                {{post.role}}
                                                <span class="text-muted">
                                            <br> {{post.academicTitle}}
                                            </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <!-- alumni staff -->
                    <div class="w18-accordion-heading" id="people-alumni" data-toggle="collapse" data-target="#people-alumni-body" aria-expanded="true" aria-controls="#people-alumni-body" role="button">
                        <a name="people"><h1>Alumni</h1></a>
                        <div class="collapse show" id="people-alumni-body" aria-labelledby="people-alumni">
                            <div class="row pb-4">
                                {% assign sorted = site.pages | sort: 'family' %}
                                {% for post in sorted %}
                                {% if post.categories contains 'alumni' %}
                                <div class="col-sm-12 col-lg-6">
                                    <div class="media mb-4 w18-media-iconperson" title="{{ post.family }} • {{post.role}}">
                                        <img alt="{{post.first}} {{post.family}}" style="object-fit: cover; height: 90px;" src="{{ site.url }}{{ site.baseurl }}/images/{{ post.image.thumb }}">
                                        <div class="media-body ml-3 text-truncate">
                                            <h5 class="card-title text-truncate">
                                                <a class="stretched-link" href="{{site.url}}{{ site.baseurl }}/pages/alumni/{{ post.first | replace: " ", "" | downcase }}_{{ post.family | replace: " ", "" | downcase }}/">
                                                <span class="d-xs-inline d-sm-none d-md-inline">{{ post.first }} {{ post.family }}</span>
                                                <span class="d-none d-sm-inline d-md-none">{{ post.first }} {{ post.family }}</span>
                                                </a> </h5>
                                            <p class="card-subtitle mb-0 text-truncate">
                                                {{post.role}}
                                                <span class="text-muted">
                                            <br> {{post.academicTitle}}
                                            </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <!-- administrative staff -->
                    <div class="w18-accordion-heading" id="people-administrative" data-toggle="collapse" data-target="#people-administrative-body" aria-expanded="true" aria-controls="#people-administrative-body" role="button">
                        <h1>Administrative Staff</h1>
                        <div class="collapse show" id="people-administrative-body" aria-labelledby="people-administrative">
                            <div class="row pb-4">
                                {% assign sorted = site.pages | sort: 'family' %}
                                {% for post in sorted %}
                                {% if post.categories contains 'administrative' %}
                                <div class="col-sm-12 col-lg-6">
                                    <div class="media mb-4 w18-media-iconperson" title="{{ post.family }} • {{post.role}}">
                                        <img alt="{{post.first}} {{post.family}}" style="object-fit: cover; height: 90px;" src="{{ site.url }}{{ site.baseurl }}/images/{{ post.image.thumb }}">
                                        <div class="media-body ml-3 text-truncate">
                                            <h5 class="card-title text-truncate">
                                                <a class="stretched-link" href="{{site.url}}{{ site.baseurl }}/pages/administrative/{{ post.first | replace: " ", "" | downcase }}_{{ post.family | replace: " ", "" | downcase }}/">
                                                <span class="d-xs-inline d-sm-none d-md-inline">{{ post.first }} {{ post.family }}</span>
                                                <span class="d-none d-sm-inline d-md-none">{{ post.first }} {{ post.family }}</span>
                                                </a> </h5>
                                            <p class="card-subtitle mb-0 text-truncate">
                                                {{post.role}}
                                                <span class="text-muted">
                                            <br> {{post.academicTitle}}
                                            </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
