---
layout: compress
---
<!DOCTYPE html>
<html class="no-js" lang="{% if site.language == nil %}en{% else %}{{ site.language }}{% endif %}">
<head>
	{% include _head_w18.html %}
</head>
<body id="top-of-page" class="{{ layout.format }}">
	{% unless page.skip_boilerplate %}
	{% include _header_w18.html %}
	{% endunless %}

	{% comment %}
	{% include _masthead.html %}
	{% endcomment %}
	<button onclick="topFunction()" id="myBtn" title="Go to top"><img style="width: 60px" src="{{ site.url }}{{ site.baseurl }}/assets/img/totop.png"></button>
	{{ content }}

	{% unless page.skip_boilerplate %}
	{% include _footer_w18.html %}
	{% endunless %}

	{% include _footer_scripts_w18.html %}
</body>
</html>
