---
layout: default_w18
format: frontpage
---

<section id="hero" class="home-section wg-hero dark" style="background-image: linear-gradient(#eff1f1, #eff1f1);" >
<div class="container">
    <section class="w18-header-intro w18-page-intro">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col col-lg-12 col-xl-12">
                    <div></div>
                    <h2 class="display-1">{{ site.title }}</h2>
                    <p class="lead">
                        {{ site.slogan }}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-8 w18-page-intro-figure-col">
                    <figure class="figure w18-header-intro-figure"><img class="figure-img" src="{{ site.url }}{{ site.baseurl }}/{{ site.hero }}" alt="image" /></figure>
                </div>
                <div class="col-12 col-lg-4 w18-page-intro-col">
                    <h3 class="w18-facts-title">On this page</h3>
                    <div class="list-group w18-facts-list-group">
                        <a class="list-group-item list-group-item-action w18-otp-link" href="#about">About</a>
                        <a class="list-group-item list-group-item-action w18-otp-link" href="#news">News</a>
                        <a class="list-group-item list-group-item-action w18-otp-link" href="#people">Team</a>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div> </section>

<section class="w18-content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-lg-12 col-xl-12">
                <a name="about"><h1>About</h1></a>
                {{ content }}
            </div>
        </div>
    </div>
</section>

{% include _news_tiles.html %}

{% include _people-tiles_w18.html %}
