---
layout: default_w18
format: page-fullwidth_w18
---
{% if page.image.title %}
<div class="row t30">
	<div class="small-12 columns">
		<img src="{{ site.urlimg }}{{ page.image.title }}" width="970" alt="{{ page.title | escape_once }}">
		{% if page.image.caption_url and page.image.caption %}
		<p class="text-right caption">
			<a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
		</p>
		{% endif %}
	</div><!-- /.small-12.columns -->
</div><!-- /.row -->
{% endif %}
<button onclick="topFunction()" id="myBtn" title="Go to top"><img style="width: 60px" src="{{ site.url }}{{ site.baseurl }}/assets/img/totop.png"></button>
		<div id="content">

				<section class="w18-header-intro w18-page-intro">
    			<div class="container">
				<div class="row justify-content-center">
            		<div class="col col-lg-10 col-xl-8">
						<h2 class="display-1">{{ page.title }}</h2>
		                {% if page.subheadline %}
		                <p class="lead">
		                    {{ page.subheadline }}
		                </p>
		                {% endif %}
		            </div>
		        </div>
		    </div>
		</section>
		<section class="w18-content">
			<div class="container">
        <div class="row justify-content-center">
            <div class="col col-lg-10 col-xl-8">
			{{ content }}
		</div>
	</div>
</div>
		</section>
</div>

