---
layout: page-fullwidth_w18
---


    <!-- scientific staff -->
    <div class="w18-accordion-heading" id="people-professors" data-toggle="collapse" data-target="#people-professors-body" aria-expanded="true" aria-controls="#people-professors-body" role="button">
        <a name="people"><h1>Faculty</h1></a>
        <div class="collapse show" id="people-professors-body" aria-labelledby="people-professors">
            <div class="row pb-4">
                {% assign sorted = site.pages | sort: 'family' %}
                {% for post in sorted %}
                {% if post.categories contains 'people' %}
                <div class="col-sm-12 col-lg-6">
                  <div class="media mb-4 w18-media-iconperson" title="{{ post.family }} • {{post.role}}">
                      <img alt="{{post.first}} {{post.family}}" style="object-fit: cover; height: 90px;" src="{{ site.url }}{{ site.baseurl }}/images/{{ post.image.thumb }}">
                      <div class="media-body ml-3 text-truncate">
                            <h5 class="card-title text-truncate">
                            <a class="stretched-link" href="{{site.url}}{{ site.baseurl }}/pages/people/{{ post.first | downcase }}_{{ post.family | replace: " ", "" | downcase }}/">
                            <span class="d-xs-inline d-sm-none d-md-inline">{{ post.first }} {{ post.family }}</span>
                            <span class="d-none d-sm-inline d-md-none">{{ post.first }} {{ post.family }}</span>
                            </a> </h5>
                            <p class="card-subtitle mb-0 text-truncate">
                                {{post.role}}
                            <span class="text-muted">
                            <br> {{post.academicTitle}}
                            </span>
                            </p>
                      </div>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- administrative staff -->
    <div class="w18-accordion-heading" id="people-professors" data-toggle="collapse" data-target="#people-professors-body" aria-expanded="true" aria-controls="#people-professors-body" role="button">
        <a name="people"><h1>Administrative Staff</h1></a>
        <div class="collapse show" id="people-professors-body" aria-labelledby="people-professors">
            <div class="row pb-4">
                {% assign sorted = site.pages | sort: 'family' %}
                {% for post in sorted %}
                {% if post.categories contains 'administrative' %}
                <div class="col-sm-12 col-lg-6">
                  <div class="media mb-4 w18-media-iconperson" title="{{ post.family }} • {{post.role}}">
                      <img alt="{{post.first}} {{post.family}}" style="object-fit: cover; height: 90px;" src="{{ site.url }}{{ site.baseurl }}/images/{{ post.image.thumb }}">
                      <div class="media-body ml-3 text-truncate">
                            <h5 class="card-title text-truncate">
                            <a class="stretched-link" href="{{site.url}}{{ site.baseurl }}/pages/people/{{ post.first | downcase }}_{{ post.family | downcase }}/">
                            <span class="d-xs-inline d-sm-none d-md-inline">{{ post.first }} {{ post.family }}</span>
                            <span class="d-none d-sm-inline d-md-none">{{ post.first }} {{ post.family }}</span>
                            </a> </h5>
                            <p class="card-subtitle mb-0 text-truncate">
                                {{post.role}}
                            <span class="text-muted">
                            <br> {{post.title}}
                            </span>
                            </p>
                      </div>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <!--
    <div class="row small-up-2 medium-up-3 large-up-4">
            {% assign sorted = site.pages | sort: 'family' %}
            {% for post in sorted %}
            {% if post.categories contains 'people' %}
            <div class="person-tile small-12 medium-6 large-6 column">
              <div class="small-6 medium-6 large-6 column">
              <a href="{{ post.website }}" title="{{ post.family | escape_once }}"><img class="figure" src="{{ site.urlimg }}{{ post.image.thumb }}" alt="{{ page.title | escape_once }}"></a>
              </div>
              <div class="small-6 medium-6 large-6 column">
                {{ post.title }} {{ post.first }} {{ post.family }}
                <br>
                {{ post.role }}
                  {% if post.hasdblp contains 'yes' %}
                  <br><a href="{{post.dblp}}"><i class="ai ai-dblp-square ai-1x"></i> DBLP</a>
                  {% endif %}
                  {% if post.hasgithub contains 'yes' %}
                  <br><a href="{{post.github}}"><i class="fa fa-github" aria-hidden="true"></i> github</a>
                  {% endif %}
                  {% if post.hasgscholar contains 'yes' %}
                  <br><a href="{{post.gscholar}}"><i class="ai ai-google-scholar-square ai-1x"></i>
                      google-scholar</a>
                  {% endif %}
                  {% if post.hasscopus contains 'yes' %}
                  <br><a href="{{post.scopus}}"><i class="ai ai-scopus-square ai-1x"></i> scopus</a>
                  {% endif %}
              </div>
            </div>
            {% endif %}
            {% endfor %}
    </div>

    <h2>Alumni</h2>

    <div class="row small-up-2 medium-up-3 large-up-4">
            {% assign sorted = site.pages | sort: 'family' %}
            {% for post in sorted %}
            {% if post.categories contains 'alumni' %}
            <div class="person-tile small-12 medium-6 large-6 column">
              <div class="small-6 medium-6 large-6 column">
              <a href="{{ post.website }}" title="{{ post.family | escape_once }}"><img class="figure" src="{{ site.urlimg }}{{ post.image.thumb }}" alt="{{ page.title | escape_once }}"></a>
              </div>
              <div class="small-6 medium-6 large-6 column">
                {{ post.title }} {{ post.first }} {{ post.family }}
                <br>
                  {% if post.hasdblp contains 'yes' %}
                  <a href="{{post.dblp}}"><i class="ai ai-dblp-square ai-1x"></i> DBLP</a>
                  {% endif %}
                  {% if post.hasgithub contains 'yes' %}
                  <a href="{{post.github}}"><i class="fab fa-github"></i> github</a>
                  {% endif %}
                  {% if post.hasgscholar contains 'yes' %}
                  <a href="{{post.gscholar}}"><i class="ai ai-google-scholar-square ai-1x"></i> google-scholar</a>
                  {% endif %}
                  {% if post.hasscopus contains 'yes' %}
                  <a href="{{post.scopus}}"><i class="ai ai-scopus-square ai-1x"></i> scopus</a>
                  {% endif %}
                <br>
                {{ post.role }}
                <br>
              
              </div>
            </div>
            {% endif %}
            {% endfor %}
    </div>
  -->
