---
layout: page-fullwidth
---

    <div class="row small-up-2 medium-up-3 large-up-4">
            {% assign sorted = site.pages | sort: 'family' %}
            {% for post in sorted %}
            {% if post.categories contains 'people' %}
            <div class="person-tile small-12 medium-6 large-6 column">
              <div class="small-6 medium-6 large-6 column">
              <a href="{{ post.website }}" title="{{ post.family | escape_once }}"><img  style="height: 10vw; min-height: 25px;" class="figure" src="{{ site.urlimg }}{{ post.image.thumb }}" alt="{{ page.title | escape_once }}"></a>
              </div>
              <div class="small-6 medium-6 large-6 column">
                {{ post.title }} {{ post.first }} {{ post.family }}
                <br>
                {{ post.role }}
                <br>
               {% if post.hasdblp contains 'yes' %}
                <a href="{{post.dblp}}">DBLP</a>
               {% endif %}
              </div>
            </div>
            {% endif %}
            {% endfor %}
    </div><!-- /.row -->

    <h2>Alumni</h2>

    <div class="row small-up-2 medium-up-3 large-up-4">
            {% assign sorted = site.pages | sort: 'family' %}
            {% for post in sorted %}
            {% if post.categories contains 'alumni' %}
            <div class="person-tile small-12 medium-6 large-6 column">
              <div class="small-6 medium-6 large-6 column">
              <a href="{{ post.website }}" title="{{ post.family | escape_once }}"><img  style="height: 10vw; min-height: 25px;" class="figure" src="{{ site.urlimg }}{{ post.image.thumb }}" alt="{{ page.title | escape_once }}"></a>
              </div>
              <div class="small-6 medium-6 large-6 column">
                {{ post.title }} {{ post.first }} {{ post.family }}
                <br>
                <br>
                {{ post.role }}
                <br>
               {% if post.hasdblp contains 'yes' %}
                <a href="{{post.dblp}}">DBLP</a>
               {% endif %}
              </div>
            </div>
            {% endif %}
            {% endfor %}
    </div><!-- /.row -->
