---
layout: default_w18
---

<section id="hero" class="home-section wg-hero dark" style="background-image: linear-gradient(#eff1f1, #eff1f1);" >
<div class="container">
    <section class="w18-header-intro w18-page-intro">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col col-lg-10 col-xl-8">
                    <div></div>
                    <h2 class="display-1">{{ page.first }} {{ page.family }}</h2>
                    <p class="lead">
                        {{ page.role }}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-lg-4 w18-page-intro-figure-col">
                    <figure class="figure w18-header-intro-figure"><img class="figure-img" src="{{ site.urlimg }}{{ page.image.thumb }}" alt="{{ page.title | escape_once }}" /></figure>
                </div>
            </div>
        </div>
    </section>
</div> </section>


<div class="container">
    <section class="w18-content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col col-lg-10 col-xl-8">
                    <a name="about"><h1>About</h1></a>
                        {{ content }}
                </div>
            </div>
        </div>
    </section>
</div>

<div class="container">
    <section class="w18-content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col col-lg-10 col-xl-8">
                    <a name="social"><h1>Links</h1></a>
                    <ul>
                        {% if page.hasdblp contains 'yes' %}
              <li><a href="{{page.dblp}}"><i class="ai ai-dblp-square ai-1x"></i> DBLP</a></li>
              {% endif %}
              {% if page.hasgithub contains 'yes' %}
              <li><a href="{{page.github}}"><i class="fa fa-github" aria-hidden="true"></i> github</a></li>
              {% endif %}
              {% if page.hasgscholar contains 'yes' %}
              <li><a href="{{page.gscholar}}"><i class="ai ai-google-scholar-square ai-1x"></i>
                  google-scholar</a></li>
              {% endif %}
              {% if page.hasscopus contains 'yes' %}
              <li><a href="{{page.scopus}}"><i class="ai ai-scopus-square ai-1x"></i> scopus</a></li>
              {% endif %}
              	</ul>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="container">
    <section class="w18-content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col col-lg-10 col-xl-8">
                    <a name="publications"><h1>Publications</h1></a>
                    {% bibliography -q @*[author~={{ page.family }}] %}                        
                </div>
            </div>
        </div>
    </section>
</div>
                    