---
layout: default
format: person-fullwidth
---

<div class="row t30">
	<div class="medium-12 columns">
		<article>
			<header>
				{% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
				<h1>{{ page.title }}</h1>
			</header>

			{% if page.teaser %}
			<p class="teaser">
				{{ page.teaser }}
			</p>
			{% endif %}

			<img src="{{ site.urlimg }}{{ page.image.homepage }}" width="200" alt="{{ page.title | escape_once }}">

			{{ content }}
		</article>
	</div><!-- /.medium-12.columns -->
</div><!-- /.row -->
