---
---

{{ reference }}

<div class="wrap-collabsible"> <input id="collapsible-{{key}}" class="toggle" type="checkbox"> <label for="collapsible-{{key}}" class="lbl-toggle">Bibtex</label>
  <div class="collapsible-content">
    <div class="content-inner">
      <pre>{{entry.bibtex}}</pre>
    </div>
  </div>
</div>

{% comment %}
<div id="{{key}}-materials">
  <ul class="nav nav-pills">
    {% if entry.abstract %}
    <li><a data-toggle="collapse" href="#{{key}}-abstract">Abstract</a></li>
    {% endif %}

    <li><a data-toggle="collapse" href="#{{key}}-bibtex">BibTeX</a></li>

    {% if link %}
    <li><a href="{{link}}">Download</a></li>
    {% endif %}
  </ul>

  {% if entry.abstract %}
  <p id="{{key}}-abstract" class="collapse">{{entry.abstract}}</p>
  {% endif %}

  <pre id="{{key}}-bibtex" class="pre pre-scrollable collapse">{{entry.bibtex}}</pre>

</div>
{% endcomment %}

{% comment %}
<div class="reveal" id="{{key}}-modal" data-reveal>
  <pre>{{ entry.bibtex }}</pre>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<p><button class="button" data-open="{{key}}-modal">Click me for a modal</button></p>
{% endcomment %}
